.main-container {
    padding-right: var(--spacing-7);
    padding-top: var(--spacing-7);
}

.main-content {
    border-bottom: 1px solid var(--white2);
}

.main-content h1 {
    color: var(--red2);
    width: 624px;
    height: 201px;
    line-height: 1.129;
    font-weight: 700;
    font-size: var(--f-size-7);
    margin-bottom: var(--spacing-6);
}

.main-content h2 {
    color: var(--gray3);
    font-size: var(--f-size-3);
    font-weight: 500;
    
}

.main-subtitle-wrapper{
    height: 57px;
    width: 622px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--spacing-5);
}

.news-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 193px);
    column-gap: var(--spacing-5);
    height: 487px;
}

.news-wrapper .card {
    padding-top: var(--spacing-5); 
}


.news-wrapper .card h3 {
    color: var(--red3);
}

.divider-row {
    border-bottom: 1px solid var(--white2);
    grid-column-start: 1;
    grid-column-end: 4;
}


@media (max-width: 1200px) {
    .main-container {
        width: 100%;
        padding-right: 0;
    }

    .main-content h1{
        width: 100%;
        height: 120px;
        margin-bottom: var(--spacing-3);
    }

    .news-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 600px;
    }


    .news-wrapper .card {
        width: 100%;
    }
}

@media (min-width: 705px) and (max-width: 980px) {
    .main-content h1{
        height: 180px;
    }
} 

@media (max-width: 700px) {
    .main-container {
        padding-top: var(--spacing-4);
    }

    .news-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main-content h1 {
        height: 100%;
        font-size: var(--f-size-2);
        margin-bottom: var(--spacing-2);
    }

    .main-subtitle-wrapper{
        margin: 0;
        width: 100%;
    }

    .main-content h2 {
        font-weight: 700;
        width: 100%;
        color: var(--red2);
        font-size: var(--f-size-3);
        margin-bottom: var(--spacing-4);
    }

    .main-subtitle-wrapper a:nth-child(2) {
        display: none;
    }
    
    /*style card only for news*/

    .news-wrapper .card:nth-child(n + 4) h1 {
        padding-left: 0;
        margin-bottom: var(--spacing-2);
    }

    .news-wrapper .card:nth-child(n + 4) {
        min-height: 100px;
    }

    .news-wrapper .card h1  {
        padding-left: var(--spacing-4);
        color: var(--red5);
    }
    .news-wrapper .card h2 {
        color: var(--red5);
     }

}